@model List<EmployeeGetVM>
<div class="container">

	<div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>
               @foreach (var employee in Model)
                {
                    <tr>
                        <th scope="row">@employee.Id</th>
                        <td>@employee.FullName</td>
                        <td>@employee.PositionName</td>
                        <td>
                            <a asp-action="Update" asp-route-id="@employee.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-warning">Delete</a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
	</div>

</div>